/* About Page */
.about-content {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.about-content img {
    width: 300px;
    border-radius: 15px;
    border: 3px solid #333;
}

/* Gallery Page */
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
}

/* nth-child để tạo hiệu ứng đẹp */
.gallery img:nth-child(odd) {
    border-radius: 20px;
    border-color: red;
}
